<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Domain.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>RealmRepository.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>todoist.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>09A24FB91EE2A197003B58B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09A24FCD1EE2A197003B58B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09A24FD81EE2A197003B58B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09A24FEF1EE2A1BE003B58B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09A24FF71EE2A1BF003B58B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09A250121EE2A1E2003B58B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09A2501A1EE2A1E2003B58B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
